@using EntityLayer.Concrete
@model List<Content> 
@{
    ViewBag.Title = "GetAllContent";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@using(Html.BeginForm("GetAllContent","Content",FormMethod.Post))
{
<p>
    Aranıcak Kelimeyi Girin : @Html.TextBox("p")
    <input type="submit" value="Arama İşlemi Gerçekleştir" class="btn btn-primary" />
</p>
}
@foreach (var item in Model)
{

<p>@item.ContentValue</p>
}

