
@{
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />

<h3>MVC KAMP TABLO ÖRNEGİ</h3>
<br />
<table class="table table-dark">
    <tr>
        <th>KATEGORİ ID</th>
        <th>KATEGORİ AD</th>
        <th>AÇIKLAMA</th>
        <th>Durum</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Egitim</td>
        <td>Egitim Kategoirisi.</td>
        <td>True</td>
        <td><button class="btn-success">Güncelle</button></td>
        <td><button class="btn-danger">Sil</button></td>
    </tr>
    <tr>
        <td>2</td>
        <td>Spor</td>
        <td>Spor Kategoirisi.</td>
        <td>True</td>
        <td><button class="btn-success">Güncelle</button></td>
        <td><button class="btn-danger">Sil</button></td>
    </tr>
    <tr>
        <td>3</td>
        <td>Kitap</td>
        <td>Kitaplar Güzeldir</td>
        <td>True</td>
        <td><button class="btn-success">Güncelle</button></td>
        <td><button class="btn-danger">Sil</button></td>
    </tr>
    <tr>
        <td>4</td>
        <td>Sinema</td>
        <td>Sinemalar Açılıyor.</td>
        <td>True</td>
        <td><button class="btn-success">Güncelle</button></td>
        <td><button class="btn-danger">Sil</button></td>
    </tr>
</table>
<button class="btn btn-primary">Yeni Kategori Ekle</button>
<button class="btn btn-success">Kategori Listesi</button>
<button class="btn btn-danger">Kategori Açıklamaları</button>

