
@{
    ViewBag.Title = "Test3";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h4>Yapılıcaklar</h4>
<br />
<br />
<p>Başlıklarda Arama Kutucukları</p>
<p>Yazar Görselleri Düzenlenicek</p>
<p>Grafikler</p>
<p>Vitrin Teması</p>
<p>Gelen Kutusunda Arama</p>
<p>Yetkilendirmeler</p>
<p>Hata Sayfası Layoutdan Ayırlıcak</p>
<p>Sözlük ve vitrin ayrılıcak</p>
<p>Herhangi Bir Tablo Raporlanacak</p>
<p>Proje Dosyaları Sunucuya Tşaınıcak</p>
<p>Alan Adı Alınıcak</p>
<p>Proje Canlıya Taşınıcak</p>

