
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Burası Title</title>
</head>
<body>
    <div>
        <h2>Burası Layout</h2>
    </div>
    <div> 
        @RenderBody()
    </div>
</body>
</html>
